{% extends 'layout.twig' %}

{% block content %}

	{% set firstOption = {'': 'Выберите...'} %}

	{% set form = this.beginWidget('CActiveForm', { id: 'add-vacancies', enableAjaxValidation: false, htmlOptions: {enctype: 'multipart/form-data'} }) %}
	<h3>Скриншот</h3>
	<br />
	<div class="tab-content well">
	
		<div class="row">
			<div class="col-sm-3">
			      {{ include('form/select.twig', { form: form, model: model, field: 'scenario_step_id', data: scenario_steps, showtitle: true  }) }}
			</div>
		</div>

		<div class="row">
			<div class="col-sm-10">
				<img alt="Загрузите изображение" src="{{ model.url }}" width="500">
			</div>
		</div>

		<br /> 

		<div class="row">
			<div class="col-sm-10">
				{#<label for="quest-image">{{ model.image? 'Удалить и загрузить другое изображение': 'Изображение' }}</label>#}
				<input type="file" name="ScenarioImages[imageId]"/>
			</div>
		</div>

		<br />
    
	</div>

	{{ include('form/submit-buttons.twig') }}

	{% do this.endWidget() %}

{% endblock %}