{% extends 'layout.twig' %}

{% block content %}

	<p><a class="btn btn-success btn-lg" href="{{ this.createUrl('adminScenarioImages/add') }}">Добавить скриншот</a></p>
	<table class="table table-striped">
		<thead>
		<tr>
			<th>{{ scenario_images[0].scenario_steps.getAttributeLabel('scenario_id') }}</th>
			<th>{{ scenario_images[0].getAttributeLabel('url') }}</th>
			<th>{{ scenario_images[0].getAttributeLabel('created') }}</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tbody>
		    
		{% for scenario_image in scenario_images %}
			<tr>
				<td>{{ scenario_image.scenario_steps.scenarios.alias}} </td>
				<td> шаг {{scenario_image.scenario_steps.number}} </td>
				<td>{{ C.HTML.link( scenario_image.url    , this.createUrl('edit', {'id': scenario_image.id})) }}</td>
				<td>{{ scenario_image.created }}</td>
				
				<td class="delete-cell">
					{{ include('delete-list-item-button.twig', {url: this.createUrl('delete', {id: scenario_image.id})}) }}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock %}