{% extends 'layout.twig' %}

{% block content %}

	{% set firstOption = {'': 'Выберите...'} %}

	{% set form = this.beginWidget('CActiveForm', { id: 'add-vacancies', enableAjaxValidation: false }) %}

	<h3>Точка</h3>
	<br />

	<div class="tab-content well">
	
	       <div class="row">
		   <div class="col-sm-4">
		       {{ include('form/text.twig', { form: form, model: model, field: 'title' }) }}
		   </div>
	       </div>

	       <div class="row">
		   <div class="col-sm-10">
		       {{ include('form/textarea.twig', { form: form, model: model, field: 'content', htmlOptions: {rows: 8} }) }}
		   </div>
	       </div>
	    
		<div>
		    <div>
			<label class="control-label">Изображение</label>
		    </div>
		    
		    <div class="alert alert-info">Для добавления координаты точки щелкните в соответствующем месте скриншота</div>
		   
		    {% if scenario_images is not empty %}
			    <img src="{{  scenario_images.url }}" class="points-image" />
		    {% endif %}
		  
		</div>
	
		<br />

	       <div class="row">
		   <div class="col-sm-3">
			{{ include('form/text.twig', { form: form, model: model, field: 'x' }) }}
		   </div>
		    <div class="col-sm-3">
			{{ include('form/text.twig', { form: form, model: model, field: 'y' }) }}
		   </div>
	       </div>
    
	</div>

	

	{{ include('form/submit-buttons.twig') }}

	{% do this.endWidget() %}

{% endblock %}