{% extends 'layout.twig' %}

{% block content %}
{% set form = this.beginWidget('CActiveForm', { id: 'add-vacancies', enableAjaxValidation: false }) %}

	<p><a class="btn btn-success btn-lg" href="{{ this.createUrl('adminScenarioPoints/add') }}">Добавить Точку</a></p>
	<table class="table table-striped">
		<thead>
		<tr>
			<th>{{ scenario_points[0].scenario_steps.getAttributeLabel('scenario_id') }}</th>
			<th>{{ scenario_points[0].getAttributeLabel('scenario_step_id') }}</th>
			<th>{{ scenario_points[0].getAttributeLabel('title') }}</th>
			<th>{{ scenario_points[0].getAttributeLabel('created') }}</th>
			<th>&nbsp;</th>
		</tr>
		<tr>
			<th>{{ include('form/select.twig', { form: form, model: model, field: 'id', data: scenarios, showtitle: false, htmlOptions: {class: 'form-control point-scenarios' } }) }}</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tbody>
		    
		{% for scenario_point in scenario_points %}
			<tr>
				<td>{{ scenario_point.scenario_steps.scenarios.alias }} </td>
				<td>шаг {{scenario_point.scenario_steps.number}} </td>
				<td>{{ C.HTML.link( scenario_point.title    , this.createUrl('edit', {'id': scenario_point.id})) }}</td>
				<td>{{ scenario_point.created }}</td>
				
				<td class="delete-cell">
					{{ include('delete-list-item-button.twig', {url: this.createUrl('delete', {id: scenario_point.id})}) }}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	{% do this.endWidget() %}

{% endblock %}