{% extends 'layout.twig' %}

{% block styles %}
	{{ include('common/_upload-styles.twig') }}
{% endblock %}

{% block content %}

	{% set firstOption = {'': 'Выберите...'} %}
	<h3>Шаг сценария</h3>
	<br />
	
	<ul class="nav nav-tabs" id="scenario-step-tab">
		<li class="active" id="content_tab"><a href="#content" data-toggle="tab">Контент</a></li>
		<li id="screenshot_tab"><a href="#screenshot" data-toggle="tab">Скриншот</a></li>
		<li id="links_tab"><a href="#links" data-toggle="tab">Ссылки</a></li>
		<li id="points_tab"><a href="#points" data-toggle="tab">Точки</a></li>
	</ul>
	
	<div class="well">
	
		<div class="tab-content">
			<div class="tab-pane active" id="content">
				{% set form = this.beginWidget('CActiveForm', { id: 'add-vacancies', enableAjaxValidation: false } ) %}
				<div class="row">
					<div class="col-sm-3">
					      {{ include('form/select.twig', { form: form, model: model, field: 'scenario_id', data: scenarios, showtitle: true }) }}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10">
					    {{ include('form/textarea.twig', { form: form, model: model, field: 'title', htmlOptions: {rows: 8} }) }}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10">
					    {{ include('form/textarea.twig', { form: form, model: model, field: 'description', htmlOptions: {rows: 8} }) }}
					</div>
				</div> 
				{{ include('form/submit-buttons.twig') }}
				{% do this.endWidget() %}
			</div>
			<div class="tab-pane" id="screenshot">
				<div>
				    <label class="control-label">Скриншот</label>
				</div>
				
				{% if model.id is not empty %}
					{% set form = this.beginWidget('CActiveForm', { id: 'add-vacancies', enableAjaxValidation: false, htmlOptions: {enctype: 'multipart/form-data', id: 'imageupload'} }) %}
					<noscript><input type="hidden" name="redirect" value="/scenario-steps/add"></noscript>
					<input type="hidden" id="model-name" value="ScenarioImage">
					<input type="hidden" id="model-id" value="{{ model.id }}">
					<div class="row fileupload-buttonbar">
					    <div class="col-lg-7">
						<span class="btn btn-success fileinput-button">
						    <i class="glyphicon glyphicon-plus"></i>
						    <span>Добавить скриншот...</span>
						    <input type="file" name="files[]">
						</span>
						<span class="fileupload-process"></span>
					    </div>
					    <div class="col-lg-5 fileupload-progress fade">
						<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
						    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
						</div>
						<div class="progress-extended">&nbsp;</div>
					    </div>
					</div>
					<table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
					{% do this.endWidget() %}
				{% else %} 
					<br />
					<div class="row">
					    <div class="col-sm-10">
						<div class="alert alert-error">Для добавления скриншота сохраните "Шаг сценария"</div>
					    </div>
					</div>
				{% endif %} 
			    
			</div>
		    
		    <div class="tab-pane" id="links">
			
			    <p><a class="btn btn-success btn-lg" href="{{ this.createUrl('adminScenarioLinks/add', {scenario_step_id: model.id}) }}">Добавить Ссылку</a></p>
			    <table class="table table-striped">
				    <thead>
				    <tr>
					    <th>{{ model.scenario_links[0].scenario_steps.getAttributeLabel('scenario_id') }}</th>
					    <th>{{ model.scenario_links[0].getAttributeLabel('scenario_step_id') }}</th>
					    <th>{{ model.scenario_links[0].getAttributeLabel('title') }}</th>
					    <th>{{ model.scenario_links[0].getAttributeLabel('created') }}</th>
					    <th>&nbsp;</th>
				    </tr>
				    </thead>
				    <tbody>

				    {% for scenario_link in model.scenario_links %}
					    <tr>
						    <td>{{ scenario_link.scenario_steps.scenarios.alias }} </td>
						    <td>шаг {{scenario_link.scenario_steps.number}} </td>
						    <td>{{ C.HTML.link( scenario_link.title    , this.createUrl('adminScenarioLinks/edit', {'id': scenario_link.id})) }}</td>
						    <td>{{ scenario_link.created }}</td>

						    <td>
							    {{ include('delete-list-item-button.twig', {url: this.createUrl('adminScenarioLinks/delete', {id: scenario_link.id})}) }}
						    </td>
					    </tr>
				    {% endfor %}
				    </tbody>
			    </table>
			
		    </div>
		    
		    <div class="tab-pane" id="points">
				<p><a class="btn btn-success btn-lg" href="{{ this.createUrl('adminScenarioPoints/add', {scenario_step_id: model.id}) }}">Добавить Точку</a></p>
				<table class="table table-striped">
					<thead>
					<tr>
						<th>{{ model.scenario_points[0].scenario_steps.getAttributeLabel('scenario_id') }}</th>
						<th>{{ model.scenario_points[0].getAttributeLabel('scenario_step_id') }}</th>
						<th>{{ model.scenario_points[0].getAttributeLabel('title') }}</th>
						<th>{{ model.scenario_points[0].getAttributeLabel('created') }}</th>
						<th>&nbsp;</th>
					</tr>
					</thead>
					<tbody>

					{% for scenario_point in model.scenario_points %}
						<tr>
							<td>{{ scenario_point.scenario_steps.scenarios.alias }} </td>
							<td>шаг {{scenario_point.scenario_steps.number}} </td>
							<td>{{ C.HTML.link( scenario_point.title    , this.createUrl('adminScenarioPoints/edit', {'id': scenario_point.id})) }}</td>
							<td>{{ scenario_point.created }}</td>

							<td class="delete-cell">
								{{ include('delete-list-item-button.twig', {url: this.createUrl('adminScenarioPoints/delete', {id: scenario_point.id})}) }}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			
		    </div>
		    
		</div>
	</div>

	<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
		<div class="slides"></div>
		<h3 class="title"></h3>
		<a class="prev">‹</a>
		<a class="next">›</a>
		<a class="close">×</a>
		<a class="play-pause"></a>
		<ol class="indicator"></ol>
	</div>

{% endblock %}
	
{% block script %}
	    
	{{ include('common/_upload-scripts.twig') }}

{#	<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>#}
{% endblock %}