{% extends 'layout.twig' %}

{% block content %}
{% set form = this.beginWidget('CActiveForm', { id: 'add-vacancies', enableAjaxValidation: false }) %}

 
	<p><a class="btn btn-success btn-lg" href="{{ this.createUrl('adminScenarioSteps/add') }}">Добавить Шаг сценария</a></p>
	<table class="table table-striped">
		<thead>
		<tr>
			<th width='150'>{{ scenario_steps[0].getAttributeLabel('scenario_id') }}</th>
			<th width='100'>{{ scenario_steps[0].getAttributeLabel('number') }}</th>
			<th>{{ scenario_steps[0].getAttributeLabel('title') }}</th>
			<th width='50'>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
		<tr>
		    
			<th>{{ include('form/select.twig', { form: form, model: model, field: 'id', data: scenarios, showtitle: false, htmlOptions: {class: 'form-control step-scenarios' } }) }}</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tbody>
		    
		{% for scenario_step in scenario_steps %}
			<tr>
				<td>{{ scenario_step.scenarios.alias }}</td>
				<td>{{ C.HTML.link( 'шаг ' ~ scenario_step.number, this.createUrl('edit', {'id': scenario_step.id})) }}</td>
				<td>{{ scenario_step.title }}</td>
			
				
				<td class="delete-cell">
					<a href="" class="step-move step-move-up btn btn-success" data-id="{{ scenario_step.id }}">&uarr;</a>
					<a href="" class="step-move step-move-down btn btn-success" data-id="{{ scenario_step.id }}">&darr;</a>
				</td>
				
				<td class="delete-cell">
					{{ include('delete-list-item-button.twig', {url: this.createUrl('delete', {id: scenario_step.id})}) }}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	{% do this.endWidget() %}

{% endblock %}