inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.nav-tabs {
  margin-bottom: 15px;
  overflow: visible;
}

.navbar-nav {
  float: none;
}
.navbar-nav > li:last-child {
  float: right;
}
@media screen and (max-width: 768px) {
  .navbar-nav > li:last-child {
    float: none;
  }
}

.collapse {
  display: block;
}

.radio-with-input {
  padding-left: 15px;
}

.btn-delete-answer {
  position: absolute;
  right: -25px;
  top: 0;
}

.radio-with-input__image {
  margin-top: 0;
  margin-bottom: 20px;
}
.radio-with-input__image .btn-delete-answer {
  top: auto;
  bottom: 20px;
}

.tags {
  margin-bottom: 10px;
}

.help-block {
    color: red;
}

.navbar-collapse {
    padding: 0
}
.well {
    padding: 30px;
}
table {
    margin-top: 20px;
}

table .delete-cell {
    text-align: right; 
   
}

table th {
    padding: 8px 8px 8px 0;
}

.step-move-up {
    margin-bottom: 6px;
    
}

.sign-in-title {
    text-align:  center; 
    margin-top: 50px;
}
.login-form {
	max-width: 350px;
	margin: 0 auto;
	margin-top: 40px;
}
.alert {
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.alert-danger, .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}

.points-image {
    max-width: 100%; 
    height: auto
}


