{% set error = form.error(model, field, {class: 'help-block'}) %}
{% set i18n_field = not language or language == model.defaultLanguage? field: field ~ '_' ~ language %}
{% set htmlOptions = {class: 'form-control'}|merge(htmlOptions?: {}) %}

{% if showtitle %}
	<div class="{{ wrapperClass|default('form-group') }}">
		{{ form.labelEx(model, field, {class: labelClass|default('control-label')}) }}
		{{ form.dropDownList(model, i18n_field, data|default({}), htmlOptions) }}
		{{ error }}
	</div>   
{% else %}
	{{ form.dropDownList(model, i18n_field, data|default({}), htmlOptions) }}
{% endif %}