<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ this.pageTitle }}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/vendor/jquery-ui-1.10.4.custom/css/ui-darkness/jquery-ui-1.10.4.custom.min.css">
	<link rel="stylesheet" href="/css/admin.css">
	{{ block('styles') }}
</head>
<body>
{% if App.user.role != 'guest' %}
<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			{{ Nav.getMenu('main').setHtmlOptions({class: 'nav navbar-nav'}).render({}, true) }}
		</div>
	</div>
</nav>
{% endif %}

<div class="container">
	{{ block('content') }}
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/admin.js"></script>
{{ block('script') }}

<!-- {{ App.numberFormatter.formatDecimal(Yii.getLogger().getExecutionTime() * 1000) }} msec | {{ App.numberFormatter.formatDecimal(Yii.getLogger().getMemoryUsage() / 1048576) }} Mb -->
</body>
</html>