{% extends 'layout.twig' %}

{% block content %}
	
	<div class="container">
		<h1 class='sign-in-title'>Вход</h1>
		{% set form = this.beginWidget('CActiveForm', {enableAjaxValidation: false, htmlOptions: {class: 'login-form well'}}) %}
		{{ include('form/text.twig', {form: form, model: model, field: 'username' }) }}
		{{ include('form/password.twig', { form: form, model: model, field: 'password' }) }}
		{{ include('form/checkbox.twig', { form: form, model: model, field: 'rememberMe'}) }}
		<div class="form-group">
			<button class="btn btn-lg  btn-primary btn-block" type="submit">Войти</button>
		</div>
		{% do this.endWidget() %}
	
	</div>
{% endblock %}