    <script id="template-upload" type="text/x-tmpl">{% raw %}
    {% for (var i=0, file; file=o.files[i]; i++) { %}
	<tr class="template-upload fade">
	    <td>
		<span class="preview"></span>
	    </td>
	    <td>
		<p class="name">{%=file.name%}</p>
		<strong class="error text-danger"></strong>
	    </td>
	    <td>
		<p class="size">Processing...</p>
		<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
	    </td>
	    <td>
		{% if (!i && !o.options.autoUpload) { %}
		    <button class="btn btn-primary start" disabled>
			<i class="glyphicon glyphicon-upload"></i>
			<span>Start</span>
		    </button>
		{% } %}
		{% if (!i) { %}
		    <button class="btn btn-warning cancel">
			<i class="glyphicon glyphicon-ban-circle"></i>
			<span>Cancel</span>
		    </button>
		{% } %}
	    </td>
	</tr>
    {% } %}
    {% endraw %}
    </script>

    <script id="template-download" type="text/x-tmpl">{% raw %}
    {% for (var i=0, file; file=o.files[i]; i++) { %}
	<tr class="template-download fade">
	    <td>
		<span class="preview">
		    {% if (file.thumbnailUrl) { %}
			<a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
		    {% } %}
		</span>
	    </td>
	    <td>
		<p class="name">
		    {% if (file.url) { %}
			<a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery>{%=file.name%}</a>
		    {% } else { %}
			<span>{%=file.name%}</span>
		    {% } %}
		</p>
		{% if (file.error) { %}
		    <div><span class="label label-danger">Error</span> {%=file.error%}</div>
		{% } %}
	    </td>
	    <td>
		<span class="size">{%=o.formatFileSize(file.size)%}</span>
	    </td>
	    <td>
		{% if (file.deleteUrl) { %}
		    <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
			<i class="glyphicon glyphicon-trash"></i>
			<span>Удалить</span>
		    </button>
		    <input type="checkbox" name="delete" value="1" class="toggle">
		{% } else { %}
		    <button class="btn btn-warning cancel">
			<i class="glyphicon glyphicon-ban-circle"></i>
			<span>Cancel</span>
		    </button>
		{% } %}
	    </td>
	</tr>
    {% } %}
    {% endraw %}
    </script>

    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery-ui-1.10.4.custom/js/jquery.ui.widget.js"></script>

    <script src="/vendor/file-upload/js/tmpl.min.js"></script>
    <script src="/vendor/file-upload/js/load-image.all.min.js"></script>
    <script src="/vendor/file-upload/js/canvas-to-blob.min.js"></script>
    <script src="/vendor/file-upload/js/jquery.blueimp-gallery.min.js"></script>
    <script src="/vendor/file-upload/js/jquery.iframe-transport.js"></script>
    <script src="/vendor/file-upload/js/jquery.fileupload.js"></script>
    <script src="/vendor/file-upload/js/jquery.fileupload-process.js"></script>
    <script src="/vendor/file-upload/js/jquery.fileupload-image.js"></script>
    <script src="/vendor/file-upload/js/jquery.fileupload-audio.js"></script>
    <script src="/vendor/file-upload/js/jquery.fileupload-video.js"></script>
    <script src="/vendor/file-upload/js/jquery.fileupload-validate.js"></script>
    <script src="/vendor/file-upload/js/jquery.fileupload-ui.js"></script>
    <script src="/js/file-upload.js"></script>
