<link rel="stylesheet" href="/vendor/file-upload/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="/vendor/file-upload/css/jquery.fileupload.css">
<link rel="stylesheet" href="/vendor/file-upload/css/jquery.fileupload-ui.css">
<noscript><link rel="stylesheet" href="/vendor/file-upload/css/jquery.fileupload-noscript.css"></noscript>
<noscript><link rel="stylesheet" href="/vendor/file-upload/css/jquery.fileupload-ui-noscript.css"></noscript>