{% extends 'layout.twig' %}

{% block content %}

	{% set firstOption = {'': 'Выберите...'} %}

	{% set form = this.beginWidget('CActiveForm', { id: 'add-vacancies', enableAjaxValidation: false }) %}
	<h3>Ссылка</h3>
	<br />
	<div class="tab-content well">
	

			<div class="row">
			    <div class="col-sm-4">
				{{ include('form/text.twig', { form: form, model: model, field: 'title' }) }}
			    </div>
			</div>
	    
			<div class="row">
			    <div class="col-sm-10">
				{{ include('form/textarea.twig', { form: form, model: model, field: 'content', htmlOptions: {rows: 8} }) }}
			    </div>
			</div>
			    
	</div>

	{{ include('form/submit-buttons.twig') }}

	{% do this.endWidget() %}

{% endblock %}
	
{% block script %}
	<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
{% endblock %}