{% extends 'layout.twig' %}

{% block content %}
{% set form = this.beginWidget('CActiveForm', { id: 'add-vacancies', enableAjaxValidation: false }) %}

	<p><a class="btn btn-success btn-lg" href="{{ this.createUrl('adminScenarioLinks/add') }}">Добавить Ссылку</a></p>
	<table class="table table-striped">
		<thead>
		<tr>
			<th>{{ scenario_links[0].scenario_steps.getAttributeLabel('scenario_id') }}</th>
			<th>{{ scenario_links[0].getAttributeLabel('scenario_step_id') }}</th>
			<th>{{ scenario_links[0].getAttributeLabel('title') }}</th>
			<th>{{ scenario_links[0].getAttributeLabel('created') }}</th>
			<th>&nbsp;</th>
		</tr>
		<tr>
			<th>{{ include('form/select.twig', { form: form, model: model, field: 'id', data: scenarios, showtitle: false, htmlOptions: {class: 'form-control link-scenarios' } }) }}</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tbody>
		    
		{% for scenario_link in scenario_links %}
			<tr>
				<td>{{ scenario_link.scenario_steps.scenarios.alias }} </td>
				<td>шаг {{scenario_link.scenario_steps.number}} </td>
				<td>{{ C.HTML.link( scenario_link.title    , this.createUrl('edit', {'id': scenario_link.id})) }}</td>
				<td>{{ scenario_link.created }}</td>
				
				<td>
					{{ include('delete-list-item-button.twig', {url: this.createUrl('delete', {id: scenario_link.id})}) }}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	{% do this.endWidget() %}

{% endblock %}