{% extends 'layout.twig' %}

{% block styles %}
	{{ include('common/_upload-styles.twig') }}
{% endblock %}

{% block content %}

	{% set firstOption = {'': 'Выберите...'} %}

	{% set form = this.beginWidget('CActiveForm', { id: 'add-vacancies', enableAjaxValidation: false, htmlOptions: {enctype: 'multipart/form-data', id: 'iconupload'}  }) %}

	<h3>Сценарий</h3>
	<br />
	<div class="tab-content well">
	
			<div class="row">
			    <div class="col-sm-3">
				  {{ include('form/text.twig', { form: form, model: model, field: 'alias' }) }}
			    </div>
			</div>
			
			<div class="row">
			    <div class="col-sm-10">
				{{ include('form/textarea.twig', { form: form, model: model, field: 'title', htmlOptions: {rows: 8} }) }}
			    </div>
			</div>
	    
			{% if model.id is not empty %}
				<div>
					<label class="control-label">Иконка</label>
				</div>
				
				<noscript><input type="hidden" name="redirect" value="/scenario-steps/add"></noscript>
				<input type="hidden" id="model-name" value="ScenarioIcon">
				<input type="hidden" id="model-id" value="{{ model.id }}">
				<div class="row fileupload-buttonbar">
				    <div class="col-lg-7">
					<span class="btn btn-success fileinput-button">
					    <i class="glyphicon glyphicon-plus"></i>
					    <span>Добавить иконку...</span>
					    <input type="file" name="files[]">
					</span>
					<span class="fileupload-process"></span>
				    </div>
				    <div class="col-lg-5 fileupload-progress fade">
					<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
					    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
					</div>
					<div class="progress-extended">&nbsp;</div>
				    </div>
				</div>
				<table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
			
			{% else %} 
				<br />
				<div class="row">
				    <div class="col-sm-10">
					<div class="alert alert-error">Для добавления иконкм сохраните "Сценария"</div>
				    </div>
				</div>
			{% endif %} 
			    
	</div>
	
	<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
		<div class="slides"></div>
		<h3 class="title"></h3>
		<a class="prev">‹</a>
		<a class="next">›</a>
		<a class="close">×</a>
		<a class="play-pause"></a>
		<ol class="indicator"></ol>
	</div>

	{{ include('form/submit-buttons.twig') }}

	{% do this.endWidget() %}
	


{% endblock %}
	
{% block script %}    
	{{ include('common/_upload-scripts.twig') }}
{% endblock %}