{% extends 'layout.twig' %}

{% block content %}
	<div>
		<a class="btn btn-success btn-lg" href="{{ this.createUrl('adminScenarios/add') }}">Добавить Сценарий</a>  
	</div>

	<table class="table table-striped">
		<thead>
		<tr>
			<th>{{ scenarios[0].getAttributeLabel('id') }}</th>
			<th>{{ scenarios[0].getAttributeLabel('alias') }}</th>
			<th>{{ scenarios[0].getAttributeLabel('title') }}</th>
			<th>{{ scenarios[0].getAttributeLabel('created') }}</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tbody>
		    
		{% for scenario in scenarios %}
			<tr>
				<td>{{ scenario.id }}</td>
				<td>{{ C.HTML.link(scenario.alias, this.createUrl('edit', {'id': scenario.id})) }}</td>
				<td>{{ C.HTML.link(scenario.title, this.createUrl('edit', {'id': scenario.id})) }}</td>
				<td>{{ scenario.created }}</td>
				
				<td class="delete-cell">
					{{ include('delete-list-item-button.twig', {url: this.createUrl('delete', {id: scenario.id})}) }}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock %}