//
// Pseudo elements
//
@mixin after() {
	&:after {
		content: "";
		display: block;
		@content;
	}
}

@mixin before() {
	&:before {
		content: "";
		display: block;
		@content;
	}
}

//
// Images
//
@mixin image-with-dimentions($image) {
	background-image: image-url($image);
	width: image-width($image);
	height: image-height($image);
}

//
// Lists
//
@mixin clear-list() {
	list-style: none;
	margin: 0;
	padding: 0;
}

//
// Sprites
//
//$sprite: sprite-map("sprite/*.png", $new-position: 0%, $new-spacing: 10px);

@mixin sp($name) {
	width: image-width(sprite-file($sprite, $name));
	height: image-height(sprite-file($sprite, $name));
	background: sprite($sprite, $name) no-repeat;
}

@mixin after-sp-vertical-middle($name) {
	@include after() {
		@include sp($name);
		position: absolute;
		top: 50%;
		margin-top: -(image-height(sprite-file($sprite, $name))/2);
		@content;
	}
}

@mixin after-sp-horizontal-center($name) {
	@include after() {
		@include sp($name);
		position: absolute;
		left: 50%;
		margin-left: -(image-width(sprite-file($sprite, $name))/2);
		@content;
	}
}

@mixin after-sp-centered($name) {
	@include after() {
		@include sp($name);
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -(image-height(sprite-file($sprite, $name))/2);
		margin-left: -(image-width(sprite-file($sprite, $name))/2);
		@content;
	}
}

@mixin before-sp-horizontal-center($name) {
	@include before() {
		@include sp($name);
		position: absolute;
		left: 50%;
		margin-left: -(image-width(sprite-file($sprite, $name))/2);
		@content;
	}
}

//
// Helpers
//
%clearfix {
	zoom: 1;
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

%clear-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

inline-block {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

@mixin placeholder {
	&::-webkit-input-placeholder {
		@content;
	}
	&:-moz-placeholder {
		/* Firefox 18- */
		@content;
	}
	&::-moz-placeholder {
		/* Firefox 19+ */
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
}

//
// Media queries
//

@mixin media($max-width, $min-width: 0) {
	@if $min-width > 0 {
		@if $max-width > 0 {
			@media screen and (min-width: $min-width) and (max-width: $max-width) {
				@content;
			}
		} @else {
			@media screen and (min-width: $min-width) {
				@content;
			}
		}
	} @else {
		@media screen and (max-width: $max-width) {
			@content;
		}
	}
}

@mixin media-vertical($max-height, $min-height: 0) {
	@if $min-height > 0 {
		@if $max-height > 0 {
			@media screen and (min-height: $min-height) and (max-height: $max-height) {
				@content;
			}
		} @else {
			@media screen and (min-height: $min-height) {
				@content;
			}
		}
	} @else {
		@media screen and (max-height: $max-height) {
			@content;
		}
	}
}

@mixin transition($args) {
	transition: $args;
	-moz-transition: $args;
	-webkit-transition: $args;
}

@mixin box-sizing($arg) {
	-webkit-box-sizing: $arg;
	-moz-box-sizing: $arg;
	box-sizing: $arg;
}

@mixin linear-gradient($from, $to) {
	background: $from; /* Old browsers */
	background: -moz-linear-gradient(top, $from 0%, $to 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from), color-stop(100%, $to));
	background: -webkit-linear-gradient(top, $from 0%, $to 100%);
	background: linear-gradient(to bottom, $from 0%, $to 100%);
//	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}', GradientType=0)\9;
}