{% extends 'layout.twig' %}

{% block content %}

	{% set form = this.beginWidget('CActiveForm', { id: 'add-quest', enableAjaxValidation: false }) %}

	<h3>Пользователь</h3>
	<br />
	<div class="tab-content well">
		<div class="row">
			<div class="col-sm-4">
				{{ include('form/select.twig', { form: form, model: model, field: 'role', data: {'moderator': 'модератор', 'admin': 'администратор'} }) }}
				{{ include('form/text.twig', { form: form, model: model, field: 'username' }) }}
				{{ include('form/text.twig', { form: form, model: model, field: 'email' }) }}
				{{ include('form/text.twig', { form: form, model: model, field: 'realName' }) }}
				{{ include('form/password.twig', { form: form, model: model, field: 'password', htmlOptions: {value: '', class: 'form-control'} }) }}
				{{ include('form/password.twig', { form: form, model: model, field: 'confirmPassword', htmlOptions: {value: '', class: 'form-control'} }) }}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				{{ include('form/textarea.twig', { form: form, model: model, field: 'description', htmlOptions: {class: 'form-control not-wysiwyg', rows: 4} }) }}
			</div>
		</div>
	</div>

	{{ include('form/submit-buttons.twig') }}

	{% do this.endWidget() %}

{% endblock %}