{% extends 'layout.twig' %}

{% block content %}

	<p><a class="btn btn-success btn-lg" href="{{ this.createUrl('adminUsers/add') }}">Добавить Пользователя</a></p>
	<table class="table table-striped">
		<thead>
		<tr>
			<th>{{ users[0].getAttributeLabel('id') }}</th>
			<th>{{ users[0].getAttributeLabel('username') }}</th>
			<th>{{ users[0].getAttributeLabel('realName') }}</th>
			<th>{{ users[0].getAttributeLabel('email') }}</th>
			<th>{{ users[0].getAttributeLabel('role') }}</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tbody>
		{% for user in users %}
			<tr>
				<td>{{ user.id }}</td>
				<td>{{ C.HTML.link(user.username, this.createUrl('edit', {'id': user.id})) }}</td>
				<td>{{ user.realName }}</td>
				<td>{{ user.email }}</td>
				<td>{{ user.role }}</td>
				<td class="delete-cell">
					{{ include('delete-list-item-button.twig', {url: this.createUrl('delete', {id: user.id})}) }}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock %}